:root {
  --body-bg-color: rgb(232, 232, 232);
  --body-color: #666;
  --body-color-dark: #333;
  --block-title: #333;
  --green: #01a093;
  --logo-color: #01a093;
  --orange: #f2956b;
  --font: 'Poppins',sans-serif;
  --font-main: 'Roboto',sans-serif;
  --universal-padding: 30px;
}
